{% extends 'base.html' %}
  {% block navbar_about %}
    <li class="nav-item">
      <a class="nav-link active" href="/about">About</a>
    </li>
  {% endblock %}
  {% block content %}
  <h1>About</h1>
  <h3>Project Description</h3>
  <div>
    <p>Digital Scholarship (DS) is a broad, complex, and multidisciplinary field;
       hence, completing DS projects can oftentimes require a wide range of 
       expertise and resources. Though it is an ever-growing field, practitioners 
       and supporters of DS are scattered across the University and, sometimes, 
       in silos. Consequently, scholars pursuing DS projects may have difficulty 
       in identifying and connecting with others to partner with or request 
       assistance/resources. The Pitt Digital Scholarship Database (PittDSDB) 
       facilitates the aggregation and discovery of DS experts and resources at Pitt.
    </p>

    <p>Users can search, view, create, and maintain records of people, units 
      (e.g., organization, school, department, lab), and funding opportunities 
      that support DS. The network graph (still in development) visualizes 
      the areas, methods, tools, and resources that are supported by people and 
      units in the database.
    </p>
  </div>

  <br>
  <h3>Tech Stack</h3>
  <div>
    
    <ul>
      <li><strong>Front End:</strong> HTML, CSS, JavaScript</li>
      <li><strong>Back End: </strong>Python</li>
      <li><strong>Frameworks: </strong>Flask, Bootstrap, React</li>
      <li><strong>Database: </strong>MySQL, Neo4j</li>
      <li><strong>Server: </strong>PythonAnywhere</li>
    </ul>

  </div>
  <br/>
  <h3>Project Team</h3>
  <div>
    
    <ul>
      <li>Tyrica Kapral (<a href="mailto:tyt3@pitt.edu">tyt3@pitt.edu</a>)</li>
      <li>Navodita Mathur (<a href="mailto:nam266@pitt.edu">am266@pitt.edu</a>)</li>
    </ul>
  </div>

  {% endblock %}
