<form method="POST" action="{{ url_for('views_bp.add_tool', public_id=person.public_id) }}">
  <div class="form-group">
    <label for="area"><span style="font-weight: 500">Area</span></label>
    <select class="form-control"
      id="area"
      name="area" 
      multiple
      required>
      <option value="" disabled><span style="font-weight: 500">Select an Area</span></option>
      {% for area in existing['areas'] %}
      {% if area in person_support['areas'] %}
      <option value="{{ area }}">{{ area }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <br/>
  <div class="form-group">
    <label for="method"><span style="font-weight: 500">Method</span></label>
    <select class="form-control"
      id="method"
      name="method" 
      multiple
      required>
      <option value="" disabled><span style="font-weight: 500">Select an Area</span></option>
      {% for method in existing['methods'] %}
      {% if method in person_support['methods'] %}
      <option value="{{ method }}">{{ method }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <br/>
  <div class="form-group">
    <label for="tool"><span style="font-weight: 500">Tool</span></label>
    <select class="form-select form-select-md" aria-label=".form-select-md example"
    id="tool"
    name="tool">
      <option value="">Select a tool</option>
      {% for tool in existing['tools'] %}
      <option value="{{ tool }}">{{ tool }}</option>
      {% endfor %}
    </select>
</div>
  <br/>
  <button class="btn btn-outline-primary btn-sm" type="button" 
  data-bs-toggle="collapse" data-bs-target="#newToolCollapse" 
  aria-expanded="false" aria-controls="newToolButton">Add a New Tool
  </button>
  <br/>
  <div class="collapse" id="newToolCollapse">
    <br/>
    <div class="form-group">
      <label for="new_tool"><span style="font-weight: 500">New Tool</span></label>
      <input 
      type="text" 
      class="form-control" 
      id="new_tool" 
      name="new_tool"
      value="{{ request.form['new_tool'] }}">
      <small>If this field is filled, the dropdown selection above will be ignored.</small>
    </div>
  </div>
  <br/>
  <div class="form-group">
    <label for="proficiency"><span style="font-weight: 500">Tool Proficiency Level</span></label>
    <select class="form-select form-select-md" aria-label=".form-select-md example"
    id="proficiency"
    name="proficiency"
    value="{{ request.form['proficiency'] }}">
      <option selected disabled>Select a proficiency level</option>
      {% for level in vocab['proficiency_level'] %}
      <option value="{{ level }}">{{ level }}</option>
      {% endfor %}
    </select>
  </div>
  <br/>
  <div class="form-group">
    <label for="web_address"><span style="font-weight: 500">Tool Website</span></label>
    <input 
    type="url" 
    class="form-control" 
    id="web_address" 
    name="web_address"
    value="{{ request.form['web_address'] }}">
    <small>e.g., GitHub</small>
  </div>
  <br/>
  <div class="form-group">
    <label for="notes"><span style="font-weight: 500">Notes</span></label>
    <textarea class="form-control"
    id="notes"
    name="notes"
    value="{{ request.form['notes'] }}"
    rows="3"
    ></textarea>
  </div>
  <br/>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</br>
