<div class="form-group">
    <label for="area"><span style="font-weight: 500">Area</span></label>
    {% if area %}
    <input 
        type="text" 
        class="form-control" 
        id="name" 
        name="name"
        value="{{ area.area_name }}"
        readonly>
    {% else %}
    <select 
       class="form-select form-select-md" aria-label=".form-select-md example"
       id="area"
       name="area"
       value="{{ request.form['area'] }}">
       <option value="">Select an area</option>
       {% for area in existing['areas'] %}
       <option value="{{ area }}">{{ area }}</option>
       {% endfor %}
    </select>
    {% endif %}
</div>
<br/>
{% if area and user.can_update %}
<button class="btn btn-outline-primary btn-sm" type="button" 
    data-bs-toggle="collapse" data-bs-target="#newAreaCollapse" 
    aria-expanded="false" aria-controls="newAreaButton">Update Area
</button>
<br/>
{% else %}
<button class="btn btn-outline-primary btn-sm" type="button" 
    data-bs-toggle="collapse" data-bs-target="#newAreaCollapse" 
    aria-expanded="false" aria-controls="newAreaButton">Add a New Area
</button>
<br/>
{% endif %}
<div class="collapse" id="newAreaCollapse">
    <br/>
    <div class="form-group">
        {% if area %}
        <label for="new_area"><span style="font-weight: 500">New Area Name</span></label>
        {% else %}
        <label for="new_area"><span style="font-weight: 500">New Area</span></label>
        {% endif %}
        <input 
          type="text" 
          class="form-control" 
          id="new_area" 
          name="new_area"
          value="{{ request.form['new_area'] }}"
          pattern="[^.\/\\]*$"
          title="Name cannot include slashes or periods.">
        {% if not area %}
        <small>If this field is filled, the dropdown selection above will be ignored.</small><br/>
        <small><strong>Tips:</strong> Make sure to add a single, discrete area 
            that may emcompass several methods and tools. Check existing areas
            for examples and to avoid redundancy.</small>
        {% endif %}
    </div>
</div>
<br/>
<div class="form-group">
    <label for="proficiency"><span style="font-weight: 500">Area Proficiency Level</span></label>
    <select class="form-select form-select-md" aria-label=".form-select-md example"
       id="proficiency"
       name="proficiency"
       placeholder="Markdown-enabled field"
       required>
       <option value="">Select a proficiency level</option>
       {% for level in vocab['proficiency_level'] %}
       <option value="{{ level }}"
           {% if proficiency and level == proficiency.proficiency_level %}
           selected
           {% endif %}
        >{{ level }}</option>
       {% endfor %}
    </select>
</div>
<br/>
<div class="form-group">
    <label for="notes"><span style="font-weight: 500">Notes</span></label>
    <textarea class="form-control"
       id="notes"
       name="notes"
       value="{{ request.form['notes'] }}"
       placeholder="Markdown-enabled field"
       rows="3"
       >{% if notes %}{{ notes | safe }}{% endif %}</textarea>
</div>
<br/>
{% if not area %}
<div class="col-md-12 text-center">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
{% endif %}