<form method="POST" action="{{ url_for('views_bp.add_method', public_id=person.public_id) }}">
  {% include 'area-form.html' %}
  <br/>
  {% include 'method-form.html' %}
  <br/>
  <button class="btn btn-outline-primary btn-sm" type="button" 
  data-bs-toggle="collapse" data-bs-target="#newMethodCollapse" 
  aria-expanded="false" aria-controls="newMethodButton">Add a New method
  </button>
  <br/>
  <br/>
  <div class="collapse" id="newMethodCollapse">
    <div class="form-group">
      <label for="new_method">New Method</label>
      <input 
      type="text" 
      class="form-control" 
      id="new_method" 
      name="new_method"
      value="{{ request.form['new_method'] }}">
    </div>
    <br/>
  </div>
  <div class="form-group">
    <label for="proficiency">Method Proficiency Level</label>
    <select class="form-select form-select-md" aria-label=".form-select-md example"
      id="proficiency"
      name="proficiency">
      <option>Select a proficiency level</option>
      {% for level in vocab['proficiency_level'] %}
      <option value="{{ level }}">{{ level }}</option>
      {% endfor %}
    </select>
  </div>
  <br/>
  <div class="form-group">
    <label for="notes">Notes</label>
    <textarea class="form-control"
    id="notes"
    name="notes"
    rows="3"
    ></textarea>
  </div>
  <br/>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</br>
