<div class="row">
  <div class="col">
    <label for="building"><span style="font-weight: 500">Building</span></label>
    <input 
    type="text" 
    class="form-control" 
    id="building" 
    name="building"
    value="{{ request.form['building'] }}">
  </div>
  <div class="col">
  <label for="office"><span style="font-weight: 500">Office Room #</span></label>
    <input 
    type="text" 
    class="form-control" 
    id="office" 
    name="office"
    value="{{ request.form['office'] }}">
  </div>
</div>
<br/>
<div class="form-group">
  <label for="street_address"><span style="font-weight: 500">Street Address</span></label>
  <input 
  type="text" 
  class="form-control" 
  id="street_address" 
  name="street_address"
  placeholder="1234 Main St"
  value="{{ request.form['street_address'] }}"
  required>
</div>
<br/>
<div class="form-group">
  <label for="address_2"><span style="font-weight: 500">Address 2</span></label>
  <input 
  type="text" 
  class="form-control" 
  id="address_2" 
  name="address_2"
  value="{{ request.form['address_2'] }}"
  placeholder="1234 Main St"
  required>
</div>
<br/>
<div class="row">
  <div class="col">
    <label for="city"><span style="font-weight: 500">City</span></label>
    <input 
    type="text" 
    class="form-control" 
    name ="city"
    id="city"
    value="{{ request.form['city'] }}"
    required>
  </div>
  <div class="col">
    <label for="state"><span style="font-weight: 500">State</span></label>
    <select
    class="form-control" 
    id="state"
    name="state"
    value="{{ request.form['state'] }}"
    required>
      <option selected>Choose...</option>
      <option>PA</option>
    </select>
  </div>
  <div class="col">
    <label for="zipcode"><span style="font-weight: 500">Zipcode</span></label>
    <input 
    type="text" 
    class="form-control" 
    id="zipcode"
    name="zipcode"
    value="{{ request.form['zipcode'] }}"
    required>
  </div>
</div>
<br/>
<div class="form-group">
  <label for="campus"><span style="font-weight: 500">Campus</span></label>
  <select 
  class="form-select form-select-md" aria-label=".form-select-md" 
  id="campus" 
  name="campus"
  value="{{ request.form['campus'] }}"
  required>
    <option value="">Select a campus</option>
    {% for campus in vocab['campus'] %}
    <option value="{{ campus }}">{{ campus }}</option>
    {% endfor %}
    <!-- Add more options as needed -->
  </select>
</div>
<br/>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>