<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pitt Digitial Scholarship Database{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pitt DSDB</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% block navbar_about %}
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              {% endblock %}
              {% block navbar_search %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/search" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% block navbar_search_active %}Search{% endblock %}
                </a>
                    <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/search/people">People</a></li>
                  <li><a class="dropdown-item" href="/search/units">Units</a></li>
                  <li><a class="dropdown-item" href="/search/areas">Supported Areas</a></li>
                  <li><a class="dropdown-item" href="/search/methods">Suppoted Methods</a></li>
                  <li><a class="dropdown-item" href="/search/tools">Supported Tools</a></li>
                  <li><a class="dropdown-item" href="/search/resources">Resources</a></li>
                  <li><a class="dropdown-item" href="/search/funding">Funding</a></li>
                </ul>
                </li>
              {% endblock %}
              {%if can_add: %}
                {% block navbar_add %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/create" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% block navbar_add_active %}Add Info{% endblock %}
                </a>
                <ul class="dropdown-menu">
                  <span style="margin-left: 15px; color: gray">Add info about a...</span>
                  <li><a class="dropdown-item" href="/add/person">Person</a></li>
                  <li><a class="dropdown-item" href="/add/unit">Unit</a></li>
                  <li><a class="dropdown-item" href="/add/area">Supported Area</a></li>
                  <li><a class="dropdown-item" href="/add/method">Supported Method</a></li>
                  <li><a class="dropdown-item" href="/add/tool">Supported Tool</a></li>
                  <li><a class="dropdown-item" href="/add/resource">Resource</a></li>
                  <li><a class="dropdown-item" href="/add/funding">Funding Opportunity</a></li>
                </ul>
              </li>
                {% endblock %}
              {% endif %}
              {% block navbar_documentation %}
              <li class="nav-item">
                <a class="nav-link" href="/documentation">Documentation</a>
              </li>
              {% endblock %}
              {% block navbar_contact %}
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              {% endblock %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 20px;">
              {% block navbar_logged_out %}
              {% block navbar_login %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {% endblock %}
              {% block navbar_sign_up %}
              <li class="nav-item">
                <a class="nav-link" href="/sign-up">Sign Up</a>
              </li>
              {% endblock %}
              {% endblock %}
              {% block navbar_logged_in %}
              {% block navbar_account %}
              <li class="nav-item">
                <a class="nav-link"  href="account">Account</a>
              </li>
              {% endblock %}
              <li class="nav-item">
                <a class="nav-link"  href="logout">Logout</a>
              </li>
              {% endblock %}
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <br/>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>
