{% extends 'base.html' %}
  {% block navbar_contact %}
    <li class="nav-item">
      <a class="nav-link active" href="/contact">Contact Us</a>
    </li>
  {% endblock %}
  {% block content %}
  <div class="mx-auto col-sm-10 col-md-8 col-lg-6 col-xxl-4">
    <form method="POST">
      <h3 align="center">Contact Us</h3>
      <div class="form-group">
        <label for="full_name"><span style="font-weight: 500">Full Name</span></label>
        <input 
        type="text" 
        class="form-control" 
        id="full_name" 
        name="full_name"
        value="{{ request.form['full_name'] }}"
        required>
      </div>
      <br/>
      <div class="form-group">
        <label for="email"><span style="font-weight: 500">Email Address</span></label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="@pitt.edu"
        required>
      </div>
      <br/>
      <div class="form-group">
        <label for="subject"><span style="font-weight: 500">Subject</span></label>
        <input 
        type="text" 
        class="form-control" 
        id="subject" 
        name="subject" 
        value="PittDSDB Contact Form Inquiry"
        placeholder="Pitt DSDB Contact Form Inquiry"
        required>
      </div>
      <br/>
      <div class="form-group">
        <label for="message"><span style="font-weight: 500">Message</span></label>
        <textarea 
        type="text"
        class="form-control" 
        id="message" 
        name="message" 
        rows="3"
        required></textarea>
      </div>
      <br/>
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {% endblock %}
