{% extends 'base.html' %}
  {% block title %}Documentation | Pitt Digital Scholarship Database{% endblock %}
  {% block head %}
    
    {% endblock %}
  {% block navbar_documentation %}
    <li class="nav-item">
      <a class="nav-link active" href="/documentation">Documentation</a>
    </li>
  {% endblock %}
  {% block content %}
    <h1>Documentation</h1>
    <br/>
    <h3>Using the API</h3>
    <div class="row align-items-start">
      <div class="col-12 col-md-8 col-lg-6">
        {% include 'api-documentation.html' %}
      </div>
    </div>

  {% endblock %}
