{% extends 'base.html' %}
{% block title %}Search Units | Pitt Digital Scholarship Database{% endblock %}
{% block navbar_search_active %}
<span style="color: black;">Search</span>
{% endblock %}
{% block content %}
<br/>
<div class="row">
  <div class="mx-auto col-6 col-md-6 col-lg-4">
    <form action="/search" method="get">
      <h3 align="center">Search Units</h3>
      <br/>
      <div class="form-group">
        <label for="name">Unit Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <br/>
      <div class="form-group">
        <label for="campus">Campus</label>
        <select class="form-control" id="campus" name="campus" multiple>
          <option value="" disabled>Select Campus</option>
          {% for campus in existing['campuses'] %}
          <option value="{{ campus }}">{{ campus }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br/>
      <div class="form-group">
        <label for="supported_area">Supported Area</label>
        <select class="form-control" id="supported_area" name="supported_area" multiple>
          <option value="" disabled>Select Supported Area</option>
          {% for area in existing['areas'] %}
          <option value="{{ area }}">{{ area }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br/>
      <div class="form-group">
        <label for="supported_resource">Supported Resource</label>
        <select class="form-control" id="supported_resource" name="supported_resource" multiple>
          <option value="" disabled>Select Supported Resource</option>
          {% for resource in existing['resources'] %}
          <option value="{{ resource }}">{{ resource }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br/>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="is_lab" name="is_lab">
        <label class="form-check-label" for="is_lab">Is a Lab</label>
      </div>
      <br/>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <br/>
  </div>
</div>

{% endblock %}

