{% extends 'base.html' %}
{% block title %}Search Supported Tools | Pitt Digital Scholarship Database{% endblock %}
{% block navbar_search_active %}
<span style="color: black;">Search</span>
{% endblock %}
{% block content %}
<h1>Search Supported Tools</h1>
<form action="/search" method="get">
  <div class="form-group">
    <br/>
    <label for="tool">Tool</label>
    <input type="text" class="form-control" id="tool" name="tool">
  </div>
  <br/>
  <div class="form-group">
    <br/>
    <label for="parameter">Parameter</label>
    <input type="text" class="form-control" id="parameter" name="parameter">
  </div>
  <br/>
  <div class="form-group">
    <br/>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <br/>
  <div class="form-group">
    <label for="filters">Filters</label>
    <input type="text" class="form-control" id="filters" name="filters">
  </div>
  <br/>

  <div class="form-group">
    <br/>
    <label for="campus">Campus</label>
    <input type="text" class="form-control" id="campus" name="campus">
  </div>
  <br/>
  <div class="form-group">
    <br/>
    <label for="area">Area</label>
    <input type="text" class="form-control" id="area" name="area">
  </div>
  <br/>
  <div class="form-group">
    <br/>
    <label for="method">Method</label>
    <input type="text" class="form-control" id="method" name="method">
  </div>
  <br/>
  <div class="form-group">
    <br/>
    <label for="proficiency">Proficiency Level</label>
    <select class="form-control" id="proficiency" name="proficiency">
      <option value="">Select Proficiency Level</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
{% endblock %}
