{% extends 'base.html' %}
  {% block title %}Search People | Pitt Digital Scholarship Databse{% endblock %}
  {% block navbar_search_active %}
    <span style="color: black;">Search</span>
  {% endblock %}
  {% block content %}
  <br/>
    <form action="/search-people" method="POST">
    <h3 align="center">Search People</h3>
  <br/>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="first_name"><span style="font-weight: 500">First Name</span></label>
      <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <br/>

    <div class="form-group">
      <label for="last_name"><span style="font-weight: 500">Last Name</span></label>
      <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
    <br/>

    <div class="form-group">
      <label for="title"><span style="font-weight: 500">Title</span></label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <br/>
    <hr style="margin-bottom: 27.5px"/>
    <div class="form-group">
      <label for="support_type"><span style="font-weight: 500">Support Type</span></label>
      <select class="form-control" id="support_type" name="support_type" multiple>
          <option value="">Select Support Type</option>
          {% for support_type in existing['support_types'] %}
          <option value="{{ support_type }}">{{ support_type }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
          </select>
    </div>
    <br/>

    <div class="form-group">
      <label for="campus"><span style="font-weight: 500">Campus</span></label>
      <select class="form-control" id="campus" name="campus" multiple>
          <option value="">Select Campus</option>
          {% for campus in existing['campuses'] %}
          <option value="{{ campus }}">{{ campus }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
          </select>
    </div>
    <br/>
    </div>

    <div class="col">
    <div class="form-group">
      <label for="supported-area"><span style="font-weight: 500">Supported Area</span></label>
      <select class="form-control" id="supported_area" name="supported_area" multiple>
          <option value="">Select Supported Area</option>
          {% for area in existing['areas'] %}
          <option value="{{ area }}">{{ area }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
    </div>
    <br/>

    <div class="form-group">
      <label for="supported-method"><span style="font-weight: 500">Supported Method</span></label>
      <select class="form-control" id="supported_method" name="supported_method" multiple>
          <option value="">Select Supported Method</option>
          {% for method in existing['methods'] %}
          <option value="{{ method }}">{{ method }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
    </div>
    <br/>
    
    <div class="form-group">
          <label for="supported_tool"><span style="font-weight: 500">Supported Tool</span></label>
          <select class="form-control" id="supported_tool" name="supported_tool" multiple>
          <option value="">Select Supported Tool</option>
          {% for tool in existing['tools'] %}
          <option value="{{ tool }}">{{ tool }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
    </div>
    <br/>
    <div class="form-group">
      <label for="supported_tool_type"><span style="font-weight: 500">Supported Tool Type</span></label>
      <select class="form-control" id="supported_tool_type" name="supported_tool_type" multiple>
      <option value="">Select Supported Tool</option>
      {% for tool_type in existing['tool_types'] %}
      <option value="{{ tool_type }}">{{ tool_type }}</option>
      {% endfor %}
      <!-- Add more options as needed -->
    </select>
</div>
  </div>
  </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <br/>
{% if search %}
{% if search_results %}
<hr/>
<br/>
<ol>
  {% for person in search_results %}
    <li>
      <a href="{{ url_for('views_bp.view_person', public_id=person['public_id']) }}"
      >{{ person['first_name'] }} {{ person['last_name'] }} ({{ person['email'] }})
    </a>
    </li>
  {% endfor %}
</ol>
<br/>
<hr/>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <p><em>End of results.</em></p>
</div>
{% else %}
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <p><em>No matching results were found.</em></p>
</div>
{% endif %}
<br/>
{% endif %}
{% endblock %}
