{% extends 'base.html' %}
{% block title %}Search Units | Pitt Digital Scholarship Database{% endblock %}
{% block navbar_search_active %}
<span style="color: black;">Search</span>
{% endblock %}
{% block content %}
<br />
<form action="/search" method="POST">
  <h3 align="center">Search Units</h3>
  <br />
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="name"><span style="font-weight: 500">Unit Name</span></label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <br />
      <div class="form-group">
        <label for="unit_type"><span style="font-weight: 500">Unit Type</span></label>
        <select class="form-select form-select-md" aria-label=".form-select-md example">
          <option value="">Select a unit type</option>
          {% for type in vocab['unit_type'] %}
          <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
      </div>
      <br />
      <div class="form-group">
        <label for="campus"><span style="font-weight: 500">Campus</span></label>
        <select class="form-control" id="campus" name="campus" multiple>
          <option value="" disabled>Select Campus</option>
          {% for campus in existing['campuses'] %}
          <option value="{{ campus }}">{{ campus }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br />
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="is_lab" name="is_lab">
        <label class="form-check-label" for="is_lab">Is a Lab</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="supported_area"><span style="font-weight: 500">Supported Area</span></label>
        <select class="form-control" id="supported_area" name="supported_area" multiple>
          <option value="" disabled>Select Supported Area</option>
          {% for area in existing['areas'] %}
          <option value="{{ area }}">{{ area }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br />
      <div class="form-group">
        <label for="supported_resource"><span style="font-weight: 500">Resource</span style="font-weight: 500"></label>
        <select class="form-control" id="supported_resource" name="supported_resource" multiple>
          <option value="" disabled>Select Supported Resource</option>
          {% for resource in existing['resources'] %}
          <option value="{{ resource }}">{{ resource }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br />
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<br />
{% if search %}
{% if search_results %}
<hr />
<br />
<ol>
  {% for unit in search_results %}
  <li>
    <a href="">{{ unit['unit_name'] }} ({{ unit['email'] }})
    </a>
  </li>
  {% endfor %}
</ol>
<br />
<hr />
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <p><em>End of results.</em></p>
</div>
{% else %}
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <p><em>No matching results were found.</em></p>
</div>
{% endif %}
<br />
{% endif %}
{% endblock %}