{% extends 'base.html' %}
{% block navbar_search_active %}
<span style="color: white;">Search</span>
{% endblock %}
{% block content %}
<form action="/search-funding" method="POST">
  <h3 align="center">Search Funding</h3>
  <br/>
  <div class="row gy-4">
    <div class="col-sm">
      <div class="form-group">
        <label for="funding_name"><span style="font-weight: 500">Funding Name</span></label>
        <input type="text" class="form-control" id="funding_name" name="funding_name">
      </div>
      <br/>
      <div class="form-group">
        <label for="type"><span style="font-weight: 500">Funding Type</span></label>
        <select class="form-control" id="funding_type" name="funding_type" multiple>
          <option value="" disabled>Select a funding type</option>
          {% for funding_type in existing['funding_types'] %}
          <option value="{{ funding_type }}">{{ funding_type }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="type"><span style="font-weight: 500">Funding Duration</span></label>
        <select class="form-control" id="duration" name="duration" multiple>
          <option value="" disabled>Select a funding duration</option>
          {% for duration in existing['durations'] %}
          <option value="{{ duration }}">{{ duration }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="type"><span style="font-weight: 500">Offering Frequency</span></label>
        <select class="form-control" id="frequency" name="frequency" multiple>
          <option value="" disabled>Select an offering frequency</option>
          {% for frequency in existing['frequencies'] %}
          <option value="{{ frequency }}">{{ frequency }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="type"><span style="font-weight: 500">Payment Type</span></label>
        <select class="form-control" id="payment_type" name="payment_type" multiple>
          <option value="" disabled>Select a payment type</option>
          {% for payment_type in existing['payment_types'] %}
          <option value="{{ payment_type }}">{{ payment_type }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br/>
      <div class="row">
        <div class="col">
          <label for="min_amount"><span style="font-weight: 500">Min Amount</span></label>
          <input 
            type="number" 
            class="form-control" 
            id="min_amount" 
            name="min_amount"
            placeholder="$">
        </div>
        <div class="col">
          <label for="max_amount"><span style="font-weight: 500">Max Amount</span></label>
          <input 
            type="number" 
            class="form-control" 
            id="max_amount" 
            name="max_amount"
            placeholder="$">
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label for="type"><span style="font-weight: 500">Career Level</span></label>
        <select class="form-control" id="career_level" name="career_level" multiple>
          <option value="" disabled>Select a career level</option>
          {% for career_level in existing['career_levels'] %}
          <option value="{{ career_level }}">{{ career_level }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="campus"><span style="font-weight: 500">Campus</span></label>
        <select class="form-control" id="campus" name="campus" multiple>
          <option value="" disabled>Select a campus</option>
          {% for campus in existing['campuses'] %}
          <option value="{{ campus }}">{{ campus }}</option>
          {% endfor %}
          <!-- Add more options as needed -->
        </select>
      </div>
    </div>
  </div>
  <br/>
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

{% if search %}
<br/>
{% if search_results %}
<hr />
<br />
<div id="results">
  <div class="row">
    {% for funding in search_results %}
    <div class="col-sm-6">
      <div class="card" style="margin-top: .5em;">
        <div class="card-body">
          <h5 class="card-title">{{ funding['funding_name'] }}</h5>
          <p class="card-text">
            <strong>Type</strong>: {{ funding['funding_type'] }}</p>
            <a role="button" class="btn btn-primary btn-sm"
              href="{{ url_for('views_bp.view_funding', public_id=funding['public_id']) }}">
              View Page
            </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br />
  <hr />
  <div class="d-flex justify-content-center">
    <p><em>End of results.</em></p>
  </div>
  {% else %}
  <hr />
  <div class="d-flex justify-content-center">
    <p><em>No matching results were found.</em></p>
  </div>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.location.hash = '#results';
      history.replaceState(null,null,url);
  });
</script>
{% endif %}
{% endblock %}
