<!-- Unit Information -->
    <div class="form-group">
    <label for="unit_name">Name</label>
    <input type="text" 
    class="form-control" 
    id="unit_name" 
    name="unit_name" required>
    </div>
    <br/>
    <div class="form-group">
    <label for="unit_type">Type</label>
    <input type="text" 
    class="form-control" 
    id="unit_type" 
    name="unit_type"
    required>
    </div>
    <br/>
    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="@pitt.edu">
    </div>
    <br/>
    <div class="form-group">
    <label for="unit_website">Website</label>
    <input type="url" class="form-control" id="unit_website" name="unit_website">
    </div>
    <br/>
    <div class="form-group">
    <label for="unit_contact_method">Preferred Contact Method</label>
    <select class="form-control" id="unit_contact_method" name="unit_contact_method" required>
        <option value="">Select a preferred contact method</option>
        <option value="Email">Email</option>
        <option value="Phone">Phone</option>
        <option value="In-person">In-person</option>
    </select>
    </div>
    <br/>
    <div class="form-group">
    <label for="unit_parent">Parent Unit</label>
    <input type="text" class="form-control" id="unit_parent" name="unit_parent">
    </div>
    <br/>
    <div class="form-group">
    <label for="unit_department">Department</label>
    <input type="text" class="form-control" id="unit_department" name="unit_department">
    </div>
    <br/>
    <div class="form-group">
    <label for="unit_description">Description</label>
    <textarea class="form-control" id="unit_description" name="unit_description" rows="3"></textarea>
    </div>
<br/>
{% include "address-form.html" %}
<br/>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>