{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="mx-auto col-sm-10 col-md-8 col-lg-6 col-xxl-4">
    <h3 align="center">Update Tool</h3>
    <br/>
    <form method="POST" 
      action="{{ url_for('views_bp.update_tool', tool_name=tool.tool_name, public_id=person.public_id) }}">
      <div class="form-group">
        <label for="name"><span style="font-weight: 500">Tool Name</span></label>
        <input 
          type="text" 
          class="form-control" 
          id="name" 
          name="name"
          value="{{ tool.tool_name }}"
          readonly>
      </div>
      <br/>
      {% if user.can_update %}
      <button class="btn btn-outline-primary btn-sm" type="button" 
        data-bs-toggle="collapse" data-bs-target="#newToolCollapse" 
        aria-expanded="false" aria-controls="newToolButton">Update Tool
      </button>
      <br/>
      <div class="collapse" id="newToolCollapse">
        <br/>
        <div class="form-group">
          <label for="area"><span style="font-weight: 500">Area</span></label>
          <select class="form-control"
            id="area"
            name="area" 
            multiple
            required>
            <option value="" disabled><span style="font-weight: 500">Select an area</span></option>
            {% for area in existing['areas'] %}
              <option value="{{ area }}"
              {% if area in areas %} 
                selected
              {% endif %}>{{ area }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="form-group">
          <label for="method"><span style="font-weight: 500">Method</span></label>
          <select class="form-control"
            id="method"
            name="method" 
            multiple>
            <option value="" disabled><span style="font-weight: 500">Select a method</span></option>
            {% for method in existing['methods'] %}
              <option value="{{ method }}" 
              {% if method in methods %} 
              selected
              {% endif %}>{{ method }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="form-group">
          <label for="new_name"><span style="font-weight: 500">Updated Tool Name</span></label>
          <input 
            type="text" 
            class="form-control" 
            id="new_name" 
            name="new_name"
            value="{{ request.form['new_name'] }}"
            pattern="[^.\/\\]*$"
            title="Name cannot include slashes or periods.">
        </div>
        <br/>
        <div class="form-group">
          <label for="area"><span style="font-weight: 500">Tool Type</span></label>
          <select class="form-select form-select-md" aria-label=".form-select-md example"
            id="tool_type"
            name="tool_type">
            <option value="">Select a tool</option>
            {% for type in vocab['tool_type'] %}
            <option value="{{ type }}"
            {% if type == tool.tool_type %}
            selected
            {% endif %}>{{ type }}</option>
            {% endfor %}
          </select>
        </div>
        <br/>
        <div class="form-group">
          <label for="web_address"><span style="font-weight: 500">Tool Website</span></label>
          <input 
            type="url" 
            class="form-control" 
            id="web_address" 
            name="web_address"
            {% if tool.web_address %}
              value="{{ tool.web_address }}">
            {% else %}
              value="{{ request.form['web_address'] }}">
            {% endif %}
          <small>e.g., GitHub</small>
        </div>
      </div>
      <br/>
      {% endif %}
      <div class="form-group">
        <label for="proficiency"><span style="font-weight: 500">Tool Proficiency Level</span></label>
        <select 
          class="form-select form-select-md" aria-label=".form-select-md example"
          id="proficiency"
          name="proficiency"
          required>
          <option value="">Select a proficiency level</option>
          {% for level in vocab['proficiency_level'] %}
            <option value="{{ level }}"
            {% if level == proficiency.proficiency_level %}
            selected
            {% endif %}
            >{{ level }}</option>
          {% endfor %}
        </select>
      </div>
      <br/>
      <div class="form-group">
        <label for="notes"><span style="font-weight: 500">Notes</span></label>
        <textarea class="form-control"
          id="notes"
          name="notes"
          rows="3"
          placeholder="Markdown-enabled field"
          >{% if notes %}{{ notes | safe }}{% endif %}</textarea>
      </div>
      <br/>
      <div class="row gy">
        <div class="col">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{ url_for('views_bp.view_person', public_id=person.public_id) }}"
              role="button" type="button" class="btn btn-secondary">Cancel</a>
          </div>
        </div>
        {% if user.can_delete %}
        <div class="col">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
        <div class="col">
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-danger"
              data-bs-toggle="modal" data-bs-target="#deleteToolModal"
              >Delete</button>
          </div>
        </div>
        {% else %}
        <div class="col">
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
        {% endif %}
      </div>
    </form>
  </div>
</div>

<!-- Delete Tool Form Modal -->
<div class="modal fade" id="deleteToolModal" name="deleteToolModal" 
  tabindex="-1" aria-labelledby="deleteToolModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="deleteToolModal">Delete Tool</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this tool from {{ person.first_name }} {{ person.last_name }}'s record?</p>
      </div>
      <div class="modal-footer">
        <form metod="POST" target="_parent"
          action="{{ url_for('views_bp.delete_tool', tool_id=tool.tool_id, person_id=person.person_id) }}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
