{% extends 'base.html' %}
  {% block title %}Update Area | Pitt Digital Scholarship Database{% endblock %}
  {% block content %}
  <div class="row">
    <div class="mx-auto col-6 col-md-6 col-lg-4">
      <form metod="POST" 
        action="{{ url_for('views_bp.update_area', area_name=area, public_id=person.public_id) }}">
        <div class="form-group">
          <label for="name"><span style="font-weight: 500">Area Name</span></label>
          <input 
            type="text" 
            class="form-control" 
            id="name" 
            name="name"
            value="{{ area.area_name }}"
            disabled>
        </div>
        <br/>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control"
            id="notes"
            name="notes"
            value="{{ request.form['notes'] }}"
            rows="3"
            >{{ notes }}</textarea>
        </div>
        <br/>
        <div class="row">
          <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
          <div class="col">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-danger"
              data-bs-toggle="modal" data-bs-target="#deleteAreaModal"
              >Delete</button>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  </br>

  <!-- Delete Area Form Modal -->
<div class="modal fade" id="deleteAreaModal" name="deleteAreaModal" 
tabindex="-1" aria-labelledby="deleteAreaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="deleteAreaModal">Delete Area</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this area and all related methods and tools from {{ person.first_name }} {{ person.last_name }}'s record?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form metod="POST" target="_parent"
          action="{{ url_for('views_bp.delete_area', area_id=area.area_id, person_id=person.person_id) }}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
          <br/>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
