{% extends 'base.html' %}
{% block navbar_search_active %}
<span style="color: black;">Search</span>
{% endblock %}
{% block head %}
{% if 'resource_form' in session %}
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', () => {
    const modal = new bootstrap.Modal(document.querySelector('#addResourceModal'));
    modal.show();
  });
</script>
{% endif %}
{% endblock %}
{% block content %}
<div class="mx-auto col-lg-10">
  <!-- Unit Contact information -->
  <h3>{{ unit.unit_name }}</h3>
  <p class="contact"><strong>Unit Type:</strong> {{ unit.unit_type }}</p>
  {% if is_subunit %}
  <p class="contact"><strong>Parent Unit:</strong>
    {% if parent_units|length > 1 or parent_units|length == 0 %}
    <br/>
    {% endif %}
    {% for parent_unit in parent_units %}
      <a href="{{ url_for('views_bp.view_unit', public_id=parent_unit['parent_unit_public_id']) }}">{{ parent_unit['parent_unit_name'] }}</a>
      <br/>
    {% endfor %}
  </p>
  {% endif %}
  {% if unit.email %}
  <p class="contact"><strong>Email:</strong> <a href="mailto:{{ unit.email }}">{{ unit.email }}</a></p>
  {% endif %}
  {% if unit.web_address %}
  <p class="contact"><strong>Website:</strong> 
  <a href="{{ unit.web_address }}" target="_blank">{{ unit.web_address }}</a></p>
  {% endif %}
  {% if unit.phone %}
  <p class="contact"><strong>Phone:</strong> 
    <a href="tel:{{ unit.phone[0:3] }}-{{ unit.phone[3:6] }}-{{ unit.phone[6:10] }}">
     {{ unit.phone[0:3] }}-{{ unit.phone[3:6] }}-{{ unit.phone[6:10] }}
    </a>
  </p>
  {% endif %}
  {% if unit.other_contact %}
  <p class="contact"><strong>Other Contact Method:</strong> {{ other_contact | safe }}</p>
  {% endif %}
  <p class="contact"><strong>Preferred Contact Method:</strong> {{ unit.preferred_contact }}</p>
  <p class="contact"><strong>Address:</strong> <br/>
  {% if addresses %}
    {% for address in addresses %}
    {% if address['room_number'] %}
    {{ address['room_number'] }} 
    {% endif %}
    {{ address['building_name']}}<br/>
    {{ address['street_address']}}<br/>
    {% if address['address_2'] %}
    {{ address['address_2']}}<br/>
    {% endif %}
    {{ address['city'] }}, {{ address['state'] }}, 
    {{ address['zipcode'] }}<br/>
    {{ address['campus'] }} Campus
    {% if user.can_update %}
    &nbsp;
    <a role="button" class="btn btn-outline-primary btn-sm"
      style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem;"
      href="{{ url_for('views_bp.update_entity_address', entity_type='unit', public_id=unit.public_id, address_id=address['address_id']) }}">
      Update Address
    </a>
    {% endif %}
    <br/>
    {% if address != addresses[-1] %}
    <div style="height: 0.25em; display: block; margin-bottom: 0em;"></div>
    {% endif %}
    {% endfor %}
  {% endif %}
  {% if user.can_update %}
  </p>
  <button type="button" class="btn btn-outline-primary btn-sm"
    data-bs-toggle="modal" data-bs-target="#addAddressModal"
    style="-bs-btn-padding-y: .05rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem;margin: 0 0 .25em 0">
    Add an Address
  </button>
  {% endif %}
  {% if unit.description %}
  <p class="contact"><strong>Description:</strong> {{ description }}</p>
  {% else %}
  <br/>
  {% endif %}
  {% if user.can_update %}
  <br/>
  <div class="row gy-4 d-flex justify-content-md-start justify-content-center">
    <div class="col-auto">
      <button type="button" class="btn btn-primary btn-sm"
        data-bs-toggle="modal" data-bs-target="#updateUnitModal">
      Update Unit
      </button>
    </div>
    {% endif %}
    {% if user.can_delete %}
    <div class="col-auto">
      <button type="button" class="btn btn-danger btn-sm"
        data-bs-toggle="modal" data-bs-target="#deleteUnitModal">
      Delete Unit
      </button>
    </div>
  </div>
  {% endif %}

  <!-- Subunits -->
  {% if subunits %}
  <hr style="margin-top: 1.75em;"/>
  <h4>Subunits</h4>
  <div class="row">
  {% for subunit in subunits %}
    <div class="col-sm-6">
      <div class="card" style="margin-top: .5em;">
        <div class="card-body">
          <h5 class="card-title">{{ subunit['unit_name'] }}</h5>
          <p class="card-text">
            <strong>Type</strong>: {{ subunit['unit_type'] }}<br/>
            {% if subunit['campus'] %}
            <strong>Campus</strong>: {{ subunit['campus'] }}
            {% endif %}
          </p>
          <a href="{{ url_for('views_bp.view_unit', public_id=subunit['public_id']) }}" 
            class="btn btn-primary btn-sm">View Page</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}

  <!-- People -->
  {% if people %}
  <hr style="margin-top: 1.75em;"/>
  <h4>People</h4>
  <div class="row">
  {% for person in people %}
    <div class="col-sm-3">
      <div class="card" style="margin-top: .5em;">
        <img class="card-img-top" 
          {% if person['photo_url'] %}
          src="{{ person['photo_url'] }}" 
          {% else %}
          src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" 
          {% endif %}
          alt="{{ person['person_name'] }}'s profile photo"
          style="max-height: 16em; object-fit: cover;">
        <div class="card-body">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <h5 
              class="card-title" align="center">{{  person['person_name'] }}</h5>
          </div>
            <p class="card-text" align="center">
              {{ person['support_type'] }}<br/>
              <a href="mailto:{{ person['email'] }}">{{ person['email'] }}</a>
            </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a href="{{ url_for('views_bp.view_person', public_id=person['person_public_id']) }}" 
              class="btn btn-primary btn-sm">View Page</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Areas -->
  {% if areas %}
  <hr style="margin-top: 1.75em;"/>
  <h4>Areas of Support/Practice</h4>
  <div class="row">
  {% for area in areas %}
    <div class="col-sm-3">
      <div class="card" style="margin-top: .5em;">
        <div class="card-body">
          <h5 class="card-title" style="margin-bottom: 0.07em;">{{ area }}</h5>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif %}

  <!-- Resources -->
  {% if resources or user.can_update %}
  <hr style="margin-top: 1.75em;" style="margin-top: 1.75em;" />
  <h4>Resources</h4>
  <div class="row">
    {% for resource in resources %}
      <div class="col-sm-6">
        <div class="card" style="margin-top: .5em;">
          <div class="card-body">
            <h5 class="card-title">{{ resource['name'] }}</h5>
            <p class="card-text">
              <strong>Type</strong>: {{ resource['type'] }}
              {% if resource['website'] %}
                <br/>
                <strong>Website:</strong>
                <a href="{{ resource['website'] }}" target="_blank">
                  {{ resource['website'] }}
                </a>
              {% endif %}
              <br/>
              {% if resource['notes'] %}
              <strong>Notes:</strong><br/>{{ resource['notes'] | safe }}
              {% endif %}
            </p>
            {% if user.can_update %}
              <a role="button" class="btn btn-outline-primary btn-sm"
                href="{{ url_for('views_bp.update_resource', resource_name=resource['name'], public_id=unit.public_id) }}">
                Update Resource
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if user.can_update %}
  <br/>
  <button type="button" class="btn btn-primary btn-sm" id="resourceModalToggle"
    data-bs-toggle="modal" data-bs-target="#addResourceModal">
    Add a Resource
  </button>
  {% endif %}

  <!-- Funding Opportunities -->
  {% if funding or user.can_update %}
  <hr style="margin-top: 1.75em;"/>
  <h4>Funding Opportunities</h4>
  <div class="row">
  {% for opportunity in funding %}
    <div class="col-sm-6">
      <div class="card" style="margin-top: .5em;">
        <div class="card-body">
          <h5 class="card-title">{{ opportunity['funding_name'] }}</h5>
          <p class="card-text">
            <strong>Type</strong>: {{ opportunity['funding_type'] }}</p>
            <a role="button" class="btn btn-primary btn-sm"
              href="{{ url_for('views_bp.view_funding', public_id=opportunity['funding_public_id']) }}">
              View Page
            </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if user.can_update %}
  <br/>
  <button type="button" class="btn btn-primary btn-sm"
    data-bs-toggle="modal" data-bs-target="#addFundingModal">
    Add a Funding Opportunity
  </button>
  {% endif %}
</div>

<!-- Update Unit Form Modal -->
<div class="modal fade" id="updateUnitModal" name="updateUnitModal" 
  tabindex="-1" aria-labelledby="updateUnitModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateUnitModalLabel">Update Unit Record</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Unit Form -->
        <div id="update_unit_form">
          <form method="POST" action="{{ url_for('views_bp.add_unit', public_id=unit.public_id) }}" 
            target="_self">
            {% include "unit-form.html" %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Unit Form Modal -->
<div class="modal fade" id="addUnitModal" name="addUnitModal" 
  tabindex="-1" aria-labelledby="addUnitModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="addUnitModal">Add a Unit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="add_unit_form">
          <form method="POST" action="#" 
            target="_self">            
            <div class="form-group">
              <label for="parent_unit_name"><span style="font-weight: 500">Parent Unit </span><small>(if any)</small></label>
              <select 
                class="form-control"
                id="parent_unit_name"
                name="parent_unit_name"
                multiple
                required>
                <option value="" disabled>Select a parent unit</option>
                {% for cur_unit in existing['units'] %}
                  {% if cur_unit != unit %} 
                    <option value="{{ cur_unit }}"
                    {% if cur_unit in parent_unit_names %}
                    selected
                    {% endif %}
                    >{{ cur_unit }}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <small>Don't see your parent unit?  
                <a href="{{ url_for('views_bp.add_unit', public_id='new') }}" target="_blank">
                Add it to the database</a>!
              </small>
            </div>
            <br/>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Unit Form Modal -->
<div class="modal fade" id="deleteUnitModal" name="deleteUnitModal" 
  tabindex="-1" aria-labelledby="deleteUnitModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="deleteUnitModal">Delete Unit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this unit record?
          <strong>This action cannot be undone</strong>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method="POST" target="_parent"
          action="{{ url_for('views_bp.delete_unit', public_id=unit.public_id) }}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Address Form Modal -->
<div class="modal fade" id="addAddressModal" name="addAddressModal" 
  tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="addAddressModal">Add a Address</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="add_unit_form">
          <form method="POST" action="{{ url_for('views_bp.add_address', entity_type='unit', public_id=unit.public_id) }}" 
            target="_self">
            {% include 'add-address.html' %}
          </form>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Resource Form Modal -->
<div class="modal fade" id="addResourceModal" name="addResourceModal" 
  tabindex="-1" aria-labelledby="addResourceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="addResourceModalTitle">Add Resource</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category=='modal-form-error' %}
              <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-bs-dismiss="alert">
                  <span aria-hidden="true">&times</span>
                </button>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% endwith %}
        <!-- Resource Form -->
        <div id="add_resource_form">
          {% include "add-resource.html" %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Funding Form Modal -->
<div class="modal fade" id="addFundingModal" name="addFundingModal" 
  tabindex="-1" aria-labelledby="addFundingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"
          id="addFundingModal">Add Funding</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Funding Form -->
        <div id="add_resource_form">
          <form method="POST" action="{{ url_for('views_bp.add_funding', public_id=unit.public_id) }}">
            {% include "funding-form.html" %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

