{% extends 'base.html' %}
  {% block title %}{{ title }}{% endblock %}
  {% block content %}
    <br/>
    <div class="mx-auto col-12 col-md-12 col-lg-11">
        <h3>{{ person.first_name }} {{ person.last_name }}</h3>
        <img style="margin: 10px 0 10px 0" 
        src="https://www.library.pitt.edu/sites/default/files/staff_photos/Tyrica_Terry.jpg"><br/>
        <strong>Pronouns:</strong> {{ person.pronouns }}<br/>
        <strong>Title:</strong> {{ person.title }}<br/>
        <strong>Unit:</strong>
        {% if person_unit|length > 1 %}
            <ul>
                {% for unit in person_unit %}
                <li>{{ unit }}
                    {% if user_can_update %}
                    &nbsp;
                    <font size="-1"><a href="#updateUnitModal" 
                    data-bs-toggle="modal" data-bs-target="#updateUnitModal">Update</a>
                    </font>
                    {% endif %}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ person_unit[0] }}
            {% if user_can_update %}
            &nbsp;
            <a role="button" class="btn btn-outline-primary btn-sm"
            style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem; margin-bottom: 2.5px;"
            href="{{ url_for('views_bp.update_area', area_name=area, public_id=person.public_id) }}">Update Unit</a>
            {% endif %}<br/>
        {% endif %}
        {% if user_can_update %}
            <button type="button" class="btn btn-primary btn-sm"
                data-bs-toggle="modal" data-bs-target="#updateUnitModal"
                style="margin: 5px 0 10px 0">
                Add a Unit
            </button>
        {% endif %}
        <br/>
        <strong>Email:</strong> <a href="mailto:{{ person.email }}">{{ person.email }}</a><br/>
        {% if person.web_address %}
        <strong>Website:</strong> {{ person.web_address }}<br/>
        {% endif %}
        {% if person.phone %}
        <strong>Phone:</strong> 
        <a href="tel:{{ person.phone[0:3] }}-{{ person.phone[3:6] }}-{{ person.phone[6:10] }}">
            {{ person.phone[0:3] }}-{{ person.phone[3:6] }}-{{ person.phone[6:10] }}
        </a><br/>
        {% endif %}
        {% if person.scheduler_address %}
        <strong>Scheduler Address:</strong>
        <a href='{{ person.scheduler_address }}' target="_blank">
            {{ person.scheduler_address }}
        </a><br/>
        <strong>Preferred Contact Method:</strong> {{ person.preferred_contact }}<br/>
        <strong>Support Type:</strong> {{ person.support_type }}<br/>
        {% endif %}
        <strong>Affiliation:</strong>
        {% if person_affiliation|length > 1 %}
            <ul>
                {% for a in person_affiliation %}
                <li>{{ a }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ person_affiliation[0] }}
        {% endif %}
        {% if person.bio %}
        <strong>Bio:</strong> {{ person.bio }}<br/>
        {% endif %}
        {% if person.notes %}
        <strong>Notes:</strong> {{ person.notes }}<br/>
        {% endif %}
        {% if user_can_update %}
        <br/>
        <button type="button" class="btn btn-primary btn-sm"
        data-bs-toggle="modal" data-bs-target="#updatePersonModal">
        Update Person Information
        </button>
        {% endif %}
        <br/>
        <br/>
        <hr/>
        <h4>Areas of Support/Practice</h4>
        {% if person_support %}
        {% for area in person_support %}
        <span style="font-size: 20px; font-weight: 500;">{{ area }}</span>
        {% if user_can_update %}
        &nbsp;
        <a role="button" class="btn btn-outline-primary btn-sm"
        style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem; margin-bottom: 5px;"
        href="{{ url_for('views_bp.update_area', area_name=area, public_id=person.public_id) }}">Update Area</a>
        {% endif %}
            <ul>
            {% for method in person_support[area] %}
                <li><span style="font-size: 18px"><strong>{{ method }}:</strong>
                    {{ person_support[area][method]['proficiency'] }}</span>
                    {% if user_can_update %}
                    &nbsp;
                    <a role="button" class="btn btn-outline-primary btn-sm"
                    style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem; margin-bottom: 5px;"
                    href="{{ url_for('views_bp.update_area', area_name=area, public_id=person.public_id) }}">Update Method</a>
                    {% endif %}
                </li>
                    <ul>
                        {% for tool in person_support[area][method]['tools'] %}
                         <li><strong>{{ tool }}:</strong> 
                            {{ person_support[area][method]['tools'][tool] }}
                            {% if user_can_update %}
                            &nbsp;
                            <a role="button" class="btn btn-outline-primary btn-sm"
                            style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .75rem; margin-bottom: 5px;"
                            href="{{ url_for('views_bp.update_area', area_name=area, public_id=person.public_id) }}">Update Tool</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
            {% endfor %}
            </ul> 
        {% endfor %}
        {% endif %}
        </div>
        <br/>
        {% if user_can_update %}
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary btn-sm"
                    data-bs-toggle="modal" data-bs-target="#updateAreaModal">
                    Add an Area
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="button" class="btn btn-primary btn-sm"
                    data-bs-toggle="modal" data-bs-target="#updateMethodModal">
                    Add a Method
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-sm"
                    data-bs-toggle="modal" data-bs-target="#updateToolModal">
                    Add a Tool
                    </button>
                </div>
            </div>
        </div>
        <br/>
        {% endif %}

<!-- Update Person Form Modal -->
<div class="modal fade" id="updatePersonModal" name="updatePersonModal" 
tabindex="-1" aria-labelledby="updatePersonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updatePersonModalLabel">Update Person Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Person Form -->
          <div id="update_person_form">
            <form method="POST" action="{{ url_for('views_bp.add_person', public_id=person.public_id) }}" 
            target="updatePersonModal">Are
              {% include "person-form.html" %}
            </form>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>

<!-- Update Unit Form Modal -->
<div class="modal fade" id="updateUnitModal" name="updateUnitModal" 
tabindex="-1" aria-labelledby="updateUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="updateUnitModal">Update Unit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Person Form -->
          <div id="update_unit_form">
            <form metod="POST" action="{{ url_for('views_bp.add_unit', person_id=person.person_id) }}" 
            target="updateUnitModal">
              {% include "unit-form.html" %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Delete Unit Form Modal -->
<div class="modal fade" id="deleteUnitModal" name="deleteUnitModal" 
tabindex="-1" aria-labelledby="deleteUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="deleteUnitModal">Delete Unit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this unit?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
          <br/>
        </div>
      </div>
    </div>
  </div>

<!-- Update Area Form Modal -->
<div class="modal fade" id="updateAreaModal" name="updateAreaModal" 
tabindex="-1" aria-labelledby="updateUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="updateUnitModal">Update Unit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Person Form -->
          <div id="update_unit_form">
            <form metod="POST" action="{{ url_for('views_bp.add_area', person_id=person.person_id) }}" 
            target="updateAreaModal">
              {% include "add-area.html" %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Delete Area Form Modal -->
<div class="modal fade" id="deleteAreaModal" name="deleteAreaModal" 
tabindex="-1" aria-labelledby="deleteAreaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="deleteAreaModal">Delete Area</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this area and all related methods and tools?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
          <br/>
        </div>
      </div>
    </div>
  </div>

<!-- Update Method Form Modal -->
<div class="modal fade" id="updateMethodModal" name="updateMethodModal" 
tabindex="-1" aria-labelledby="updateMethodModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="updateMethodModal">Update Method</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Person Form -->
          <div id="update_method_form">
            <form method="POST" action="{{ url_for('views_bp.add_method') }}" 
            target="updateMethodModal">
              {% include "add-method.html" %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Delete Method Form Modal -->
<div class="modal fade" id="deleteMethodModal" name="deleteMethodModal" 
tabindex="-1" aria-labelledby="deleteMethodModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="deleteMethodModal">Delete Method</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this method and all related tools?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Tool Form Modal -->
<div class="modal fade" id="updateToolModal" name="updateToolModal" 
tabindex="-1" aria-labelledby="updateToolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="updateToolModal">Update Tool</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Person Form -->
          <div id="update_tool_form">
            <form metod="POST" action="{{ url_for('views_bp.add_tool', person_id=person.person_id) }}" 
                target="updateToolModal">
              {% include "add-tool.html" %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Tool Form Modal -->
<div class="modal fade" id="deleteToolModal" name="deleteToolModal" 
tabindex="-1" aria-labelledby="deleteToolModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
           id="deleteToolModal">Delete Tool</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this tool?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
